.container {
  background-color: var(--bg-surface);
  padding: 2rem 1.5rem;
}

.containerInner {
  max-width: 1200px;
  margin: 0 auto;
}

.cartMain {
    display: flex;
    flex-direction: column;
    gap: 1rem
}