.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 1.25rem 1.5rem;
  background-color: var(--bg-night);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.logo {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
}

.logo img {
  height: 2.5rem;
  height: 2.5rem;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .title {
    font-size: 1.25rem;
  }
}
