header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 1.5rem;
  background-color: var(--bg-night);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}
